
@{
    ViewBag.Title = "UserJobApply_PageLoad";
}
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="jumbotron">

    <center>
        <div class="panel panel-info">
           
            <br />
            <img src="~/PHS/logo.png" alt="Avatar Logo" style="width:80px;" class="rounded-pill">
            

            <br />
            <h2>Applied</h2>
            <div>

            </div>
            @Html.ActionLink("Back to home page", "UserHome", "UserLogin")
            </div>
            </center>
    </div>
