
@{
    ViewBag.Title = "CompanyHome";
}
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="jumbotron">

    <center>
        <div class="panel panel-info">
            <h2>Welcome To</h2>
            <br />
            <img src="~/PHS/logo.png" alt="Avatar Logo" style="width:80px;" class="rounded-pill">
            <h5>JobCircle</h5>

            <br />
            
            <div>
                @Html.ActionLink("Post Job Vacancies", "CompanyJob_PageLoad", "CompanyJob")
            </div>
            <div>
                @Html.ActionLink("View Job Application", "UserJobApplication_PageLoad", "UserJobApplication")
            </div>
            @Html.ActionLink("Logout", "UserLogin_Pageload", "UserLogin")
            <div></div>
