
@{
    ViewBag.Title = "Companylogin_pageload";
}



<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="jumbotron">

    <center>
        <div class="panel panel-info">
            <h2>Welcome To</h2>
            <br />
            <img src="~/PHS/logo.png" alt="Avatar Logo" style="width:80px;" class="rounded-pill">
            <h5>JobCircle</h5>

            <br />

            <div> @Html.ActionLink("SignIn", "UserLogin_Pageload", "UserLogin")</div>

           

        </div>

    </center>
</div>
