@{
    ViewBag.Title = "Home Page";
}
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
    <div class="jumbotron">
        @*<div class="mt-3 p-2 text-white rounded">*@
        <center>
            <h1>Find your dream job now!</h1>

            <p> @Html.ActionLink("Register With JobCircle", "UserReg_PageLoad", "UserReg")</p>
            <img src="~/PHS/logo.png" alt="Avatar Logo" style="width:80px;" class="rounded-pill">
        </center>
    </div>

    @*</div>*@
    <br />
    <br />
    <div>
        <br />
    </div>
   
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>5 lakh+ jobs for you to explore</h3>
               
                

            </div>
            <div class="col-md-4">
                <h3>Top companies hiring now</h3>
                
            </div>
            <div class="col-md-4">
                <h3>Discover jobs across the roles</h3>
                <p></p>
            </div>
        </div>
    </div>
